# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Visual Studio
.vs/

# Rider
.idea/

# Logs
*.log

# .NET test results
TestResults/

# NuGet
*.nupkg

# Database temp files
*.db-shm
*.db-wal

# SQLite local database
blog.db

# OS files
.DS_Store
Thumbs.db